<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Click</title>

</head>
<body>
    <div id="app">
        <div v-if="showTitle">
            <p>{{title}} - {{author}}</p>
            <p>{{title2}} - {{author}}</p>
        </div>
        <button @click="title = 'something else'">Change title</button>
        <button @click="toggleshowtitle">
            <span v-if="!showTitle">Show Title</span>
            <span v-if="showTitle">Hide Title</span>
        </button>
        <br>

        <p>Count is: {{ count }}</p>
        <button v-on:click="count++">increment</button>
        <button @click="changeTitle">decrement</button>

        <div v-if="showTitle">Currently displaying title</div>

    </div>
    <script src="02-17.js"></script>
</body>
</html>

